bind_addr = "0.0.0.0"
data_dir = "{{ base_dir['data'] }}/{{ bin_name['nomad'] }}"

advertise {
  rpc = "{{ ansible_default_ipv4['address'] }}:4647"
}
{% if nomad['server'] %}

server {
  enabled = {{ nomad['server'] | bool | lower }}
  bootstrap_expect = {{ bootstrap['expect'] | default('1') }}
{% if nomad['encrypt'] %}
  encrypt = "{{ nomad['encryption_key'] | default('') }}" # Generate key: nomad operator keygen
{% endif %}
{% if not nomad['consul_enabled'] %}
  server_join {
    retry_join = {{ bootstrap['address'] | default('0.0.0.0') | to_json }}
    retry_interval = "15s"
  }
{% endif %}
}
{% endif %}
{% if nomad['client'] %}

client {
  enabled = {{ nomad['client'] | bool | lower }}
{% if nomad['server'] %}
  reserved {
    cpu    = 1000
    memory = 1024
    disk   = 2048
  }
  meta {
    "manager" = "true"
  }
{% endif %}
{% if not nomad['consul_enabled'] %}
  server_join {
    retry_join = {{ bootstrap['address'] | default('0.0.0.0') | to_json}}
    retry_interval = "15s"
  }
{% endif %}
}
{% endif %}
