client {
  enabled = {{ nomad_client_enabled | default(false) | bool | lower }}
  meta {
    "managed_by" = "ansible"
  }
{% if nomad_legacy_driver_settings %}
  options = {
    "driver.whitelist" = {{ nomad_client_driver_whitelist | default("") }}
    "driver.blacklist" = {{ nomad_client_driver_blacklist | default("")}}
  }
{% endif %}
{% if nomad_server %}
  node_class = "server"
  reserved {
    memory = 500
    cpu    = 500
    disk   = 2500
  }
{% else %}
  node_class = "client"
{% endif %}
{% if not consul_enabled %}
  server_join {
    retry_join = {{ bootstrap_address | default('0.0.0.0') | to_json }}
    retry_interval = "15s"
  }
{% endif %}
}
