{% if consul_enabled | default(false) | bool | lower %}
consul {
  address              = "{{ consul_address | default('127.0.0.1:8500') }}"
  token                = "{{ consul_token | default('ConsulSecretToken') }}"
  checks_use_advertise = true
  auto_advertise       = true
  server_auto_join     = true
  client_auto_join     = true
  client_service_name  = "nomad-client"
  server_service_name  = "nomad-server"
  auth                 = ""
}
{% else %}
# Consul not enabled
{% endif %}
