client {

  enabled = {{ nomad_client_enabled | default(false) | bool | lower }}

  meta {
    "provisioner" = "ansible"
{% for item in nomad_client_meta -%}

    "{{ item }}" = "{{ value }}"

{%- endfor %}
  }

{% if nomad_legacy_driver_settings -%}

  options = {
    "driver.whitelist" = "{{ nomad_client_driver_whitelist | default('') }}"
    "driver.blacklist" = "{{ nomad_client_driver_blacklist | default('') }}"
  }

{%- endif %}

{% if nomad_server -%}

  node_class = "server"

{% else -%}

  node_class = "client"

{%- endif %}

reserved {
  memory = {{ nomad_client_reserved_memory | default(0) }}
  cpu    = {{ nomad_client_reserved_cpu | default(0) }}
  disk   = {{ nomad_client_reserved_disk | default(0) }}
}

{% if not consul_enabled -%}

  server_join {
    retry_join = {{ bootstrap_address | default('0.0.0.0') | to_json }}
    retry_interval = "15s"
  }

{%- endif %}
}
