bind_addr = "0.0.0.0"

region = "{{ nomad_region | default('global') }}"
datacenter = "{{ nomad_datacenter | default('dc1') }}"

data_dir = "{{ os_dir_data }}/nomad/data"

advertise {
  http = "{{ ansible_default_ipv4['address'] }}"
  rpc  = "{{ ansible_default_ipv4['address'] }}"
  serf = "{{ ansible_default_ipv4['address'] }}"
}

ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}
