server {
  enabled = {{ nomad_server | default(false) | bool | lower }}
  raft_protocol = 3
{% if nomad_server %}
  bootstrap_expect = {{ bootstrap_expect | default(1) }}
{% endif %}
{% if encryption_enabled %}
  encrypt = "{{ encryption_key | default('SuperSecretKey') }}"
{% endif %}
{% if not consul_enabled %}
  server_join {
    retry_join = {{ bootstrap_address | default('0.0.0.0') | to_json }}
    retry_interval = "15s"
  }
{% endif %}
}
