telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  collection_interval        = "{{ telemetry['interval'] | default('5s') }}"
  prometheus_metrics         = "{{ telemetry['prometheus'] | default('false') | bool | lower }}"
}
