[Unit]
Description="HashiCorp Nomad"
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target
{% if consul['enabled']  %}
Wants=consul.service
After=consul.service
{% endif %}
{% if vault['enabled']  %}
Wants=vault.service
After=vault.service
{% endif %}

[Service]
ExecStart={{ base_dir['binaries'] }}/nomad agent \
    -config {{ base_dir['configs'] }}/nomad.d
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=4
StartLimitBurst=8
StartLimitInterval=12
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
