[Unit]
Description=nomad
Documentation=https://nomadproject.io/docs/
{% if nomad['consul_enabled']  %}
Requires=consul.service
After=consul.service
{% endif %}
{% if nomad['vault_enabled']  %}
Requires=vault.service
After=vault.service
{% endif %}
Wants=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ base_dir['configs'] }}/{{ bin_name['nomad'] }}.d/50-nomad.hcl

[Service]
User={{ bin_name['nomad'] }}
Group={{ bin_name['nomad'] }}
KillMode=process
KillSignal=SIGINT
ExecStart={{ base_dir['binaries'] }}/{{ bin_name['nomad'] }} agent -config {{ base_dir['configs'] }}/{{ bin_name['nomad'] }}.d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
StartLimitBurst=3
StartLimitInterval=15
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
